.list-todo{
    text-decoration: none;
    list-style: none;
    justify-content: center;
}

li {
    border-bottom: 2px solid green;
    height: 25px;
    width: 30%;
    margin: auto;
    border-radius: 10px;
  }

.delete-btn{
    background: lightblue;
    border-color: transparent;
    border-radius: 10px;
    outline: none;
    cursor: pointer;
    font: bold;
    font-family: 'Times New Roman', Times, serif;
    font-size: 15px;
    padding: 10px, 0, 10px, 0,;
    float: right;
}

.boxes {
    float: left;
    justify-content: left;
    margin-top: 7px;
}