.form {
    text-align: left;
    display: grid;
    justify-content: center;
}

.biodata {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    border: 1px solid black;
    border-radius: 4px;
    box-sizing: border-box;
}

.label-btn {
    text-decoration: none;
    text-align: left;
    justify-content: left;
    display: inline-block;
    align-items: left;
}
